<!-- Main content -->
<div class="main-content">
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.js"></script>
  <script type="text/javascript" charset="utf-8">
  
    if (window.location.protocol == "https:") {
      var ws_scheme = "https://";
    }
    else {
      var ws_scheme = "http://";
    }
    var socket = io.connect(ws_scheme + document.domain + ':' + location.port); 

    function sendSocketMessage(msg) {
      socket.emit("siteMessage", msg);
    }

    socket.on('connect', function() {
      console.log('connected');
    });

    socket.on('message', function(data) {
      $('#progress-bar').css('width', data['percent']+'%').attr('aria-valuenow', data['percent']); 
      $('#progress-bar').text(data['percent']+"%"); 
      // console.log(data['percent'])
    });

    function generate() {
      // post request with tag name 
      $.ajax({
        type: "POST",
        url: "{{ url_for('generate') }}",
        dataType: 'json',
        async: false,
        contentType: 'application/json; charset=utf-8',
        data: JSON.stringify({ "filename": "{{filename}}", "text" : "{{text}}" }),
        success: function() {
          console.log("SENDED")
          //document.location.reload(true)
        },
        error: function() {
          //document.location.reload(true)
        }
      })
    }
    
  </script>

  <!-- Top navbar -->
  <nav class="navbar navbar-top navbar-expand-md navbar-dark" id="navbar-main">
    <div class="container-fluid">
      <!-- Brand -->
      <a class="h4 mb-0 text-white text-uppercase d-none d-lg-inline-block" href="./index.html">VIDEOGEN</a>
      <!-- Form -->
      <form class="navbar-search navbar-search-dark form-inline mr-3 d-none d-md-flex ml-lg-auto">
        <div class="form-group mb-0">

        </div>
      </form>

    </div>
  </nav>

  <!-- Header -->
  {% include 'includes/top-stats.html' %}

  <!-- Page content -->
  <div class="container-fluid mt--7">
    <div class="row mt-5">
      <div class="col-xl-12 mb-5 mb-xl-0">
        <div class="card shadow">
          <div class="card-header border-0">
            <div class="row align-items-center">
              <div class="col-8">
                <h3 class="mb-0">PROGRESS</h3>
              </div>
              
              
         
              <div class="col text-right">
                <a href="#" onclick="generate()" class="btn btn-sm btn-block btn-primary">GENERATE</a>
              </div>
              
              <div class="col text-right">
                <a href="/download/output_video.mp4" class="btn btn-sm btn-block btn-success">DOWNLOAD</a>
              </div>
              
              <div class="col text-right">
                <a href="/player" class="btn btn-sm btn-block btn-danger">OPEN PLAYER</a>
              </div>
         
            </div>
          </div>
          <div class="card-body">

            <!--progressbar-->
            <div class="progress" style="height:20px">
              <div id="progress-bar" class="progress-bar" role="progressbar" style="width: 0%; height=20px" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">0%</div>
            </div>


          </div>

        </div>
      </div>

    </div>

    {% include 'includes/footer.html' %}

  </div>
</div>